// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header{
    &__nav-container{
        background-color: $eerie-black;

    }

    &__logo{
        width: 100px;
    }

    &__button{
        background-color: $raisin-black;
    }

    &__a{
        color:$white;
        &:hover{
            color:$fuzzy-wuzzy;
        }
       
        &span.sr-only{
            color:$fuzzy-wuzzy;
        }
        &ul.active{
            color:$fuzzy-wuzzy !important;
        }
    }
}
// test 