// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header{
    &_nav-container{
        background-color: $eerie-black;
    }

    &_logo{
        width: 100px;
    }

    &_button{
        background-color: $raisin-black;
    }

    &_a{
        color:$white;
        &:hover{
            color:$fuzzy-wuzzy;
        }
    }
}